div.table-responsive
  table.table.table-condensed
    tr
      th.text-center Dice Roll
      th.text-right CR A
      th.text-right CR B
      th.text-right CR C
      th.text-right XP
      //
        th.text-right XPTol
        th.text-right Grps
        th.text-right Pwr
        th.text-right Num
        th.text-right Sim
        th.text-right Weight
    if encounters
      each val in encounters
        tr
          td.text-center= val.rollText
          if val.creatureGroups[0].num > 1
            td.text-right= val.creatureGroups[0].num + 'x ' + val.creatureGroups[0].cr
          else
            td.text-right= val.creatureGroups[0].cr
    
          if val.creatureGroups[1]
            if val.creatureGroups[1].num > 1
              td.text-right= val.creatureGroups[1].num + 'x ' + val.creatureGroups[1].cr
            else
              td.text-right= val.creatureGroups[1].cr
          else
            td

          if val.creatureGroups[2]
            if val.creatureGroups[2].num > 1
              td.text-right= val.creatureGroups[2].num + 'x ' + val.creatureGroups[2].cr
            else
              td.text-right= val.creatureGroups[2].cr
          else
            td
          td.text-right= val.xp
          //
            td.text-right= Math.round(val.factors.xpTolerance * 10) / 10
            td.text-right= val.factors.numberOfGroups
            td.text-right= val.factors.mostPowerfulCreature
            td.text-right= val.factors.numberOfCreatures
            td.text-right= Math.round(val.factors.similarCreatures * 100) / 100
            td.text-right= val.weight
